In [1]:
import pandas as pd
import numpy as np

In [2]:
column_headers = ['mean','st_dev','exc_kurtosis','skewness','dm_mean','dmst_dev','dmexc_kurtosis','dmskewness','pulsar']

In [3]:
pulsar_df = pd.read_csv("../dataset/HTRU_2.csv",names=column_headers)

In [4]:
pulsar_df

,mean,st_dev,exc_kurtosis,skewness,dm_mean,dmst_dev,dmexc_kurtosis,dmskewness,pulsar
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [5]:
pulsar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17898 entries, 0 to 17897
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mean            17898 non-null  float64
 1   st_dev          17898 non-null  float64
 2   exc_kurtosis    17898 non-null  float64
 3   skewness        17898 non-null  float64
 4   dm_mean         17898 non-null  float64
 5   dmst_dev        17898 non-null  float64
 6   dmexc_kurtosis  17898 non-null  float64
 7   dmskewness      17898 non-null  float64
 8   pulsar          17898 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [6]:
pulsar_df.describe()

,mean,st_dev,exc_kurtosis,skewness,dm_mean,dmst_dev,dmexc_kurtosis,dmskewness,pulsar
count,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000,17898.000000
mean,111.079968,46.549532,0.477857,1.770279,12.614400,26.326515,8.303556,104.857709,0.091574
std,25.652935,6.843189,1.064040,6.167913,29.472897,19.470572,4.506092,106.514540,0.288432
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976,0.000000
25%,100.929688,42.376018,0.027098,-0.188572,1.923077,14.437332,5.781506,34.960504,0.000000
50%,115.078125,46.947479,0.223240,0.198710,2.801839,18.461316,8.433515,83.064556,0.000000
75%,127.085938,51.023202,0.473325,0.927783,5.464256,28.428104,10.702959,139.309331,0.000000
max,192.617188,98.778911,8.069522,68.101622,223.392140,110.642211,34.539844,1191.000837,1.000000

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [8]:
sc = StandardScaler()
logreg = LogisticRegression()

In [9]:
X = pulsar_df.drop(columns=['pulsar'])
y = pulsar_df['pulsar']

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y,test_size=0.5)

In [11]:
X_train_sc = sc.fit_transform(X_train)
X_test_sc = sc.transform(X_test)

In [13]:
logreg.fit(X_train_sc,y_train)

LogisticRegression()

In [14]:
logreg.score(X_train_sc,y_train)

0.9785450888367415

In [15]:
logreg.score(X_test_sc,y_test)

0.9788803218236675

In [16]:
y_preds = logreg.predict(X_test_sc)

In [17]:
metrics.confusion_matrix(y_test,y_preds)

array([[8083,   47],
       [ 142,  677]], dtype=int64)

In [18]:
print(metrics.classification_report(y_preds,y_test))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      8225
           1       0.83      0.94      0.88       724

    accuracy                           0.98      8949
   macro avg       0.91      0.96      0.93      8949
weighted avg       0.98      0.98      0.98      8949